# Introduction to Python

<img src="https://raw.githubusercontent.com/GokuMohandas/practicalAI/master/images/logo.png" width=150>

In this lesson we will learn the basics of the Python programming language (version 3). We won't learn everything about Python but enough to do some basic machine learning.

<img src="https://raw.githubusercontent.com/GokuMohandas/practicalAI/master/images/python.png" width=350>

#  Variables

Variables are objects in python that can hold anything with numbers or text. Let's look at how to make some variables.

In [15]:
# Numerical example
x = 5
print (x)

5

In [13]:
# Text example
x = "hello"
print (x)

hello

In [16]:
# Variables can be used with each other
a = 1
b = 2
c = a + b
print (c)

3

Variables can come in lots of different types. Even within numerical variables, you can have integers (int), floats (float), etc. All text based variables are of type string (str). We can see what type a variable is by printing its type.

In [14]:
# int variable
x = 5
print (x)
print (type(x))

# float variable
x = 5.0
print (x)
print (type(x))

# text variable
x = "5" 
print (x)
print (type(x))

# boolean variable
x = True
print (x)
print (type(x))

5
<class 'int'>
5.0
<class 'float'>
5
<class 'str'>
True
<class 'bool'>

It's good practice to know what types your variables are. When you want to use numerical operations on then, they need to be compatible.

In [25]:
# int variables
a = 5
b = 3
print (a + b)

# string variables
a = "5"
b = "3"
print (a + b)

8
53

#  Lists

Lists are objects in python that can hold a ordered sequence of numbers **and** text.

In [9]:
# Making a list
list_x = [3, "hello", 1]
print (list_x)

[3, 'hello', 1]

In [10]:
# Adding to a list
list_x.append(7)
print (list_x)

[3, 'hello', 1, 7]

In [11]:
# Accessing items at specific location in a list
print ("list_x[0]: ", list_x[0])
print ("list_x[1]: ", list_x[1])
print ("list_x[2]: ", list_x[2])
print ("list_x[-1]: ", list_x[-1]) # the last item
print ("list_x[-2]: ", list_x[-2]) # the second to last item

list_x[0]:  3
list_x[1]:  hello
list_x[2]:  1
list_x[-1]:  7
list_x[-2]:  1

In [12]:
# Slicing
print ("list_x[:]: ", list_x[:])
print ("list_x[2:]: ", list_x[2:])
print ("list_x[1:3]: ", list_x[1:3])
print ("list_x[:-1]: ", list_x[:-1])

list_x[:]:  [3, 'hello', 1, 7]
list_x[2:]:  [1, 7]
list_x[1:3]:  ['hello', 1]
list_x[:-1]:  [3, 'hello', 1]

In [16]:
# Length of a list
len(list_x)

4

In [40]:
# Replacing items in a list
list_x[1] = "hi"
print (list_x)

[3, 'hi', 1, 7]

In [17]:
# Combining lists
list_y = [2.4, "world"]
list_z = list_x + list_y
print (list_z)

[3, 'hello', 1, 7, 2.4, 'world']

# Tuples

Tuples are also objects in python that can hold data but you cannot replace values (for this reason, tuples are called immutable, whereas lists are known as mutable).

In [26]:
# Creating a tuple
tuple_x = (3.0, "hello")
print (tuple_x)

(3.0, 'hello')

In [27]:
# Adding values to a tuple
tuple_x = tuple_x + (5.6,)
print (tuple_x)

(3.0, 'hello', 5.6)

In [29]:
# Trying to change a tuples value (you can't)
tuple_x[1] = "world"

TypeError: ignored

# Dictionaries

Dictionaries are python objects that hold key-value pairs. In the example dictionary below, the keys are the "name" and "eye_color" variables. They each have a value associated with them. A dictionary cannot have two of the same keys.

In [8]:
# Creating a dictionary
goku = {"name": "Goku",
        "eye_color": "brown"}
print (goku)
print (goku["name"])
print (goku["eye_color"])

{'name': 'Goku', 'eye_color': 'brown'}
Goku
brown

In [9]:
# Changing the value for a key
goku["eye_color"] = "green"
print (goku)

{'name': 'Goku', 'eye_color': 'green'}

In [11]:
# Adding new key-value pairs
goku["age"] = 24
print (goku)

{'name': 'Goku', 'eye_color': 'green', 'height': 72.0, 'age': 24}

In [30]:
# Length of a dictionary
print (len(goku))å

4

# If statements

You can use if statements to conditionally do something.

In [11]:
# If statement
x = 4
if x < 1:
    score = "low"
elif x <= 4:
    score = "medium"
else:
    score = "high"
print (score)

medium

In [15]:
# If statment with a boolean
x = True
if x:
    print ("it worked")

it worked

# Loops

You can use for or while loops in python to do something repeatedly until a condition is met.

In [5]:
# For loop
x = 1
for i in range(3): # goes from i=0 to i=2
    x += 1 # same as x = x + 1
    print ("i={0}, x={1}".format(i, x)) # printing with multiple variables

i=0, x=2
i=1, x=3
i=2, x=4

In [7]:
# Loop through items in a list
x = 1
for i in [0, 1, 2]:
    x += 1
    print ("i={0}, x={1}".format(i, x))

i=0, x=2
i=1, x=3
i=2, x=4

In [17]:
# While loop
x = 3
while x > 0:
    x -= 1 # same as x = x - 1
    print (x)

2
1
0

# Functions

Functions are a way to modularize resuable pieces of code.

In [20]:
# Create a function
def add_two(x):
    x += 2
    return x

# Use the function
score = 0
score = add_two(x=score)
print (score)

2

In [22]:
# Function with multiple inputs
def join_name(first_name, last_name):
    joined_name = first_name + " " + last_name
    return joined_name

# Use the function
first_name = "Goku"
last_name = "Mohandas"
joined_name = join_name(first_name=first_name, last_name=last_name)
print (joined_name)

Goku Mohandas

# Classes

Classes are a fundamental piece of object oriented Python programming.

In [0]:
# Create the function
class Pets(object):
  
    # Initialize the class
    def __init__(self, species, color, name):
        self.species = species
        self.color = color
        self.name = name

    # For printing  
    def __str__(self):
        return "{0} {1} named {2}.".format(self.color, self.species, self.name)

    # Example function
    def change_name(self, new_name):
        self.name = new_name

In [39]:
# Making an instance of a class
my_shiba = Pets(species="dog", color="orange", name="Guiness",)
print (my_shiba)
print (my_shiba.name)

orange dog named Guiness.
Guiness

In [40]:
# Using a class's function
my_shiba.change_name(new_name="Charlie")
print (my_shiba)
print (my_shiba.name)

orange dog named Charlie.
Charlie

# Additional resources

This was a very quick look at python and we'll be learning more in future lessons. If you want to learn more right now before diving into machine learning, check out this free course: [Free Python Course](https://www.codecademy.com/learn/learn-python)